PATH_add bin

export GOBIN=$PWD/bin
export GOODCOMMIT_CONFIG_PATH=.repo/configs/config.json

layout python3

# check if all the programs are installed
missing_programs=0
has_program() {
  local program=$1
  if ! command -v "$program" &>/dev/null; then
    echo "🚨・$program could not be found. Please install it using your favority package manager."
    missing_programs=1
  fi
}
programs="gum make"
for program in $programs; do
  has_program "$program"
done

# symlink pre-commit and gitlint config files
ln -f .repo/.pre-commit-config.yaml .pre-commit-config.yaml
ln -f .repo/.gitlint .gitlint

# if everything is in place, we are ready to go
if on_git_branch && [ "$missing_programs" -eq 0 ]; then
  echo "All good!, Happy hacking 🎉"
fi
