PATH_add bin

export GOBIN=$PWD/bin
export GOODCOMMIT_CONFIG_PATH=.repo/configs/config.json

layout python3

missing_programs=0
has_program() {
  local program=$1
  if ! command -v "$program" &>/dev/null; then
    echo ""
    echo "🚨・$program could not be found. Please install it using your favority package manager."
    echo ""
    missing_programs=1
  fi
}

programs="gum make"

for program in $programs; do
  has_program "$program"
done

if on_git_branch && [ "$missing_programs" -eq 0 ]; then
  echo ""
  echo "All good!, Happy hacking 🎉"
  echo ""
fi

ln -f .repo/.pre-commit-config.yaml .pre-commit-config.yaml
ln -f .repo/.gitlint .gitlint
